
$navy: #001e38;
$green: #15b78f;

html {
  background-color: #0079BF;
}

body {
	color: #17394d;
}
.container {
	display: flex;
}
.todo-list-container {
	background-color: #dfe3e6;
	border-radius: 3px;
	margin: 10px 20px;
	padding: 10px 15px;
	.title-status {
		font-weight: bold;
		color: #001e38;
		padding: 10px 8px 8px;
		font-size: 20px;
	}
}

.todo-item-card {
	margin: 10px 15px;
	padding: 10px 15px;
	width: 250px;
	background-color: #fff;
}

.button, button, input[type=button], input[type=submit] {
	padding: 10px 15px;
	background-color: #5aac44;
	color: #fff;
	font-weight: 700;
	text-align: center;
	border: none;
	font-size: 16px;
	border-radius: 3px;
}